<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p>
            Привет, <span th:text="${session.user.userRole.roleCode}" />
            <a href="/logout"> logout</a>
        <div th:if="${session.user.userRole.roleCode == 'client'}">
            <a href='/user/home'> Перейти к задачам</a>
        </div>
        <div th:if="${session.user.userRole.roleCode == 'admin'}">
            <a href='/admin/home'> Перейти к администрированию</a>
        </div>
    </p>
</body>
</html>